* {
    box-sizing: border-box;
    font-size: 1px;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

$phoneHeight: 85vh;
$phoneWidth: $phoneHeight * .468;

$screenHeight: .695 * $phoneHeight;
$screenWidth: .835 * $phoneWidth;


.phone {
    margin: 7.5vh auto;
    height: 85vh;
    width: $phoneWidth;
    background-image: url('../img/phoneFrame.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    * {
        cursor: pointer;
    }
}

.screen {
    position: relative;
    width: 100%;
    height: $screenHeight;
    width: $screenWidth;
    top: (($phoneHeight - $screenHeight) / 2) - .5;
    left: (($phoneWidth - $screenWidth) / 2) + .125;
    overflow: hidden;
}

.panel {
    position: absolute;
    background-color: rgb(240,240,240);
    width: $screenWidth;
    height: $screenHeight;
    margin-left: 0;
    transition: all .2s ease-in-out;
    box-shadow: -3px 3px 8px rgb(30,30,30);
}

.panel__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 8%;
    border: 1px solid rgb(200,200,200);

    h1 {
        font-size: 62em;
        color: rgb(185,185,185);
        margin: 0;
        line-height: 1;
    }

    h2 {
        font-size: 18em;
        font-weight: 300;
        line-height: 1;
        color: rgb(80,80,80);
        margin: .4em 0 .2em;
    }

    p {
        font-size: 12em;
        color: rgb(115,115,115);
        line-height: 1.4;
        margin-top: 2em;
    }

    &:nth-of-type(1) {
        margin-top: 0;
        transition: margin-top .4s ease-in-out;
    }
}

.moving {
    transition: none;
}

ul.sideNav {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: red;
}

.sideNav__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 2px;
    background-color: rgb(255,60,40);
}

li.sideNav__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    padding-right: 75%;
    list-style-type: none;
    text-align: center;
    background-color: rgb(30,30,30);
    border-bottom: 1px solid rgb(47,47,47);
    color: rgb(140,140,140);

    span {
        font-size: 18pt;
        
    }

    &.active {
        background-color: rgb(47,47,47);
        color: rgb(250,250,250);

    }
}

